.head{
  background-color: grey;
  color: white;
  th{
    padding: 30px;
    margin-left: 40px;
  }
}
.delatee{
  background-color: #DC3545;
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}
.update{
  background-color: #25A3B8;
  color: white;
}
.add{
  background-color: grey;
  color: white;
  margin-left: 2px;
}